textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#selectDiv {
    display: none;
}

/* style for contact links */
#contactInfoLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.contactLink {
    padding: 0px 20px;
    display: inline-flex;
    flex-direction: column;
    flex: 1;
}

.contactLink img {
    align-self: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
    background-color: lightgray;
}

.contactLink h3,
.contactLink h4 {
    text-align: center;
}


/* Style for Google Map and form Divs */
#location,
#contactFormContainer {
    padding: 20px 0;
    border-top: solid 2px lightgray;
}

#locationDetails {
    display: flex;
    justify-content: space-around;
}

#locationDetailList {
    display: flex;
    flex-direction: column;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 100px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 100px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* MODAL STYLES */

#modal {
    display: none;
    position: fixed;
    width: 80%;
    height: 500px;
    z-index: 1;
    overflow: auto;
    background-color: lightgray;
    box-shadow: 20px 20px 20px rgba(25,25,25,.50);
    border-radius: 5px;
    top: 100px;
    left: 10%;
}

#modal-content {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.5s;
    animation-name: animatetop;
    animation-duration: 1.5s
}

#modalContent p {
    margin: 30px auto;
    display: block;
    width: 80%;
    text-align: justify;
    font-size: 1.25em;
}

@-webkit-keyframes animatetop {
    from {top:-200px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header,
#modalAuthor {
    padding: 2px 16px;
    background-color: gray;
    color: white;
}

#modalTitle {
    font-size: 1.5em;
    text-align: center;
}