.about-img {
    text-align: center;
}

.about-img > img {
    height: 500px;
}

h1 {
    text-align: center;
}

#employee-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.employee-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

.employee {
    margin: 30px;
    text-align: center;
    width: 150px;
}
