.about-img {
    text-align: center;
}

.about-img > img {
    height: 500px;
}

h1 {
    text-align: center;
}

.employee-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.employee {
    display: -webkit-flex;
    display: flex;
    margin: 30px;
    justify-content: center;
}

.employee-name-title {
    align-self: center;
    padding-left: 10%;
    width: 40%
}