#modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 40%; 
    height: 40%; 
    overflow: auto; 
    background-color: yellow;
}

#modal-content {
    color: white;
}

.product-img {
    height: 100px;
    width: 100px;
}

#products-ul {
    list-style-type: none;
}