#modal {
    display: none;
    position: fixed;
    z-index: 1; 
    width: 40%; 
    height: 40%; 
    overflow: auto; 
    background-color: grey;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 10px 10px 5px black;
    top: 100px;
}

#modal-content {
    color: black;
}

.product-img {
    height: 17em;
    width: 17em;
    object-fit: cover;
    margin-right: 1.5em;
    align-self: center;
    padding: 10px;
    border-radius: 50%;
    background-color: lightgray;
}

#products-ul {
    list-style-type: none;
}

#closeModal {
    text-align: right;
}

.products-li p, select {
    margin-bottom: 1em;    
}

.side-content p, select {
    margin-bottom: .5em;
}

.product-name {
    color: #d78258;
    font-family: "Martel Sans", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: .01em solid #d78258;
}

.buy {
    background-color: #d78258;
    font-family: "Martel", serif;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 20px;
}

.stock-select {
    border-radius: 20px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}



#pagination-bar {
    background: #e9ecef;
    padding: 20px;
    margin-bottom: 200px;
    margin-left: 20%;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
}












